---
title: Acerca de esta pagina
layout: base.njk
---

<div class="container">
  <h1>Esta pagina nos recrea un ejemplo sencillo de JAMStack!</h1>
  <p>Usando HTML, CSS and JavaScript. Y un servidor de API para dar conclusion al JAMStack.</p>
</div>


