---
title: Ejemplo JAMStack
layout: base.njk
---

<div class="container">
  <h1>Ejemplo basico de JAMStack</h1>
  <div class="vibe">Bienvenido!</div>
  <div class="love">
    ❤️
  </div>
  <div class="container">
  <h1>Presentado por:</h1>
  <p> Jorge Estacio, Samuel Gomez, Santiago Gonzalez.
  </div>
  <ul>
  {% for article in news.articles %}
    <li>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
    </li>

  {% endfor %}
  </ul>
</div>
<script src="/js/vibe.js"></script>
